<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <h1>Not found</h1>
        <p>Sorry, this page does not exist.</p>
    </NotFound>
</Router>
